@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f5f5f5;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dialog-box {
    background-color: rgba(41, 43, 44, 0.8);
    color: #e7e1ec;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.dialog-box h1,
h2 {
    text-shadow: 0 0 20px #fff, 0 0 30px #ac5e85, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #d373a0, 0 0 70px #ef8bbd, 0 0 80px #e42886;
}

header {
    background-color: rgba(41, 43, 44, 0.8);
    padding: 10px 20px;
    width: 100%;
    display: flex;
}

header img,
.topic-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

header .logo {
    font-size: 2em;
    font-weight: bold;
    color: #d9534f;
}

main section {
    display: none;
}

main section.active {
    display: block;
}

main #welcome input {
    padding: 10px;
    font-size: 1em;
    width: 70%;
    margin-bottom: 20px;
    border: 2px solid #588ef2;
    border-radius: 5px;
    background-color: #292b2c;
    color: #f5f5f5;
}

main #welcome button,
main button {
    background-color: #d9534f;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    margin-left: auto;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

main button:hover {
    background-color: #c9302c;
}

main .topic-card,
main #level-selection button {
    background-color: #1f201e;
    color: #f5f5f5;
    padding-top: 10px;
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 20px #fff, 0 0 30px #99d6ed, 0 0 40px #5cc2e7, 0 0 50px #68c9fa, 0 0 60px #7ddcf9, 0 0 70px #73b7da, 0 0 80px #50d8f4;
    width: 200px;
}

main .topic-card:hover,
main #level-selection button:hover {
    background-color: #5bc0de;
}

#timer-bar {
    width: 100%;
    height: 10px;
    background-color: #d9534f;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: width 1s linear;
}

ul {
    margin: 20px 20px 20px 20px;
    padding-left: 20px;
    text-align: left;
    list-style-type: none;
    list-style-position: inside;
}

ol {
    margin: 20px 20px 20px 20px;
    padding-left: 20px;
    text-align: left;
    list-style-position: inside;
}

.result .answers-container {
    text-align: left;
    margin-top: 20px;
}

.correct {
    background-color: #5cb85c;
    color: #fff;
}

.incorrect {
    background-color: #d9534f;
    color: #fff;
}

.skipped {
    background-color: #5bc0de;
    color: #fff;
}

#view-answers-btn {
    display: block;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em 0;
}

.social-links a {
    text-decoration: none;
}

social-links img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s;
}

.social-links img:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgba(41, 43, 44, 0.8);
    padding: 10px 20px;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
}